@using Luval.AuthMate.Sample.Infrastructure.Data

<FluentDataGrid Items="@Connections">
    <PropertyColumn Title="Name" Property="@(p => p.ProviderName)" Sortable="true" />
    <PropertyColumn Title="Email" Property="@(p => p.OwnerEmail)" Sortable="true" />
    <PropertyColumn Title="Scopes" Property="@(p => p.Scope)" Sortable="true" />
    <PropertyColumn Title="IssuedOn" Property="@(p => p.UtcIssuedOn)" Format="yyyy-MM-dd" Sortable="true" />
    <PropertyColumn Title="ExpireOn" Property="@(p => p.UtcExpiresOn)" Format="yyyy-MM-dd" Sortable="true" />
    <TemplateColumn Title="Actions" Align="@Align.End">
        <FluentButton aria-label="Edit item" IconEnd="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size16.Edit())" OnClick="@(() => OpenDialogAsync(context))" />
        <FluentButton aria-label="Delete item" IconEnd="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size16.Delete())" OnClick="@(() => Console.WriteLine("Delete clicked"))" />
    </TemplateColumn>
</FluentDataGrid>
<div style="padding:10px;"></div>
<FluentButton IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size16.CloudAdd())"
Appearance="Appearance.Accent"
OnClick="@(() => OpenDialogAsync(null, false))">
    Add Connection
</FluentButton>



@code {

    [Inject]
    public required IDialogService DialogService { get; set; } = default!;

    [Inject]
    public required OAuthConnectionManager ConnectionConfigManager { get; set; } = default!;

    [Inject]
    public required AppConnectionService ConnectionService { get; set; } = default!;

    [Inject]
    public required NavigationManager Navigation { get; set; }

    public IQueryable<AppConnection> Connections { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Connections = await ConnectionService.GetAllConnectionsAsync(); // get all connections for the account
            await InvokeAsync(StateHasChanged);
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task OpenDialogAsync(AppConnection? context, bool isEdit = true)
    {
        if (context == null) context = new AppConnection();
        ConnectionDto connection = new()
            {
                Id = context.Id,
                ProviderName = context.ProviderName,
                Scopes = context.Scope
            };
        DialogParameters parameters = new()
            {
                Title = $"Connection Information",
                PrimaryAction = "Save",
                PrimaryActionEnabled = false,
                SecondaryAction = "Cancel",
                Width = "500px",
                TrapFocus = true,
                Modal = true,
                PreventScroll = true
            };

        var dialog = await DialogService.ShowDialogAsync<ConnectionDialog>(connection, parameters);
        DialogResult? result = await dialog.Result;

        if(!isEdit){
            var dtp = result.Data as ConnectionDto;
            var config = ConnectionConfigManager.GetConfiguration(dtp.ProviderName);
            config.Scopes = dtp.Scopes;
            var url = ConnectionService.CreateAuthorizationConsentUrl(config, Navigation.BaseUri);
        }
    }

}
