@inject Luval.AuthMate.Blazor.RolesPresenter _presenter

<FluentDataGrid Items="@_presenter.Data"
ResizableColumns=true>
    <PropertyColumn Property="@(p => p.Name)" Title="Name" Sortable="true">
        <ColumnOptions>
            <div class="search-box">
                @* <FluentSearch Autofocus=true @bind-Value=_presenter.NameFilter 
                             @oninput="_presenter.ApplyNameFilter" @bind-Value:after="_presenter.ClearNameFilter"
                             ImmediateDelay=10000 Placeholder="Name" Style="width: 100%;" Label="Filter" /> *@

                <LuvalTextFilter Placeholder="Enter text.." OnSearchClicked="@ApplyNameFilter" OnClearClicked="@ClearNameFilter" >

                </LuvalTextFilter>
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="@(p => p.Description)" Title="Description" Sortable="true" />
    <PropertyColumn Property="@(p => p.UtcUpdatedOn)" Title="Updated On" Format="yyyy-MM-dd" Sortable="true">
        <ColumnOptions>
            <div class="search-box">
                <LuvalDateRangeFilter OnSearchClicked="@ApplyDateFilter" OnClearClicked="@ClearDateFilter">

                </LuvalDateRangeFilter>
            </div>
        </ColumnOptions>
    </PropertyColumn>
</FluentDataGrid>

@code{
    protected override void OnInitialized()
    {

    }

    private void ApplyNameFilter(string filter)
    {
        if (string.IsNullOrWhiteSpace(filter)) _presenter.RemoveFilter("name");
        _presenter.AddOrUpdateFilter("name", i => i.Name.ToLower().Contains(filter.ToLower()));
    }

    private void ApplyDateFilter((DateTime? start, DateTime? end) range)
    {
        if (range.start == null && range.end == null) _presenter.RemoveFilter("date");
        _presenter.AddOrUpdateFilter("date", i => i.UtcUpdatedOn > range.start.ForceUtc() && i.UtcUpdatedOn <= range.end.ForceUtc());
    }

    private void ClearNameFilter(){
        _presenter.RemoveFilter("name");
    }

    private void ClearDateFilter()
    {
        _presenter.RemoveFilter("date");
    }

}